<%= form_with(model: truck, local: true) do |form| %>
  <% if truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
      <% truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @truck.start_decommission.blank? %>
    <table>
      <thead>
        <tr>
          <th> <%= form.label :truck_number %> </th>
          <th> <%= form.label :vehicle_type %> </th>
          <th> <%= form.label :vehicle_year %> </th>
          <th> <%= form.label :make_model %> </th>
          <th> <%= form.label :vin, "VIN" %> </th>
          <th> <%= form.label :license, "License plate" %> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.text_field :truck_number  %> </td>
          <td> <%= form.select :vehicle_type, @type, {}, {:value => params[:trucks_vehicle_type]} %> </td>
          <td> <%= form.number_field :vehicle_year, id: :truck_vehicle_year, in: 2015...2040 %> </td>
          <td> <%= form.text_field :make_model  %> </td>
          <td> <%= form.text_field :vin  %> </td>
          <td> <%= form.text_field :license  %> </td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th> <%= form.label :registered_to %> </th>
          <th> <%= form.label :start_mileage %> </th>
          <th> <%= form.label :location %> </th>
          <th> <%= form.label :truck_active %> </th>
          <th> <%= form.label :start_decommission %> </th>
          <th hidden> <%= form.label :user_id %> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.select :registered_to, @registered_to, {}, {:value => params[:trucks_registered_to]} %> </td>
          <td> <%= form.number_field :start_mileage, id: :truck_start_mileage, min: 0, step: 1 %> </td>
          <td> <%= form.select :location, @location, {}, {:value => params[:trucks_location]} %> </td>
          <td> <%= form.check_box :truck_active, id: :truck_truck_active %> </td>
          <td> <%= form.check_box :start_decommission, id: :truck_start_decommission %> </td>
          <td hidden> <%= form.text_field :user_id, :value => @user  %> </td>
        </tr>
      </tbody>
    </table>
  <% else %>
    <table>
      <thead>
        <tr>
          <th> <%= form.label :disposed %> </th>
          <th> <%= form.label :start_decommission %> </th>
          <th> <%= form.label :decommission_complete %> </th>
          <th> <%= form.label :truck_active %> </th>
          <th hidden> <%= form.label :user_id %> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= form.date_field :disposed, id: :truck_disposed %> </td>
          <td> <%= form.check_box :start_decommission, id: :truck_start_decommission %> </td>
          <td> <%= form.check_box :decommission_complete, id: :truck_decommission_complete %> </td>
          <td> <%= form.check_box :truck_active, id: :truck_truck_active %> </td>
          <td hidden> <%= form.text_field :user_id, :value => @user  %> </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
