<h1>Editing Truck IT</h1>
<h2>Truck Number: <%= @truck.truck_number %> Last Updated: <%= display_date(@truck_it.updated_at) %> By: <%= @truck_it.user_id%></h2>

<%= render 'form', truck_it: @truck_it %>

<%= link_to 'Show', truck_truck_it_path(@truck, @truck_it), data:{confirm: 'Are you sure? Any changes will not be saved!'}  %>
<% if @truck.start_decommission %>
  <%= link_to 'Truck Index', trucks_decomm_path, data:{confirm: 'Are you sure? Any changes will not be saved!'} %>
<% else %>
  <%= link_to 'Truck Index', trucks_path, data:{confirm: 'Are you sure? Any changes will not be saved!'} %>
<% end %>
