<h1>Insured Truck Accident</h1>
<h2>Truck Number: <%= @truck.truck_number %> Last Updated: <%= display_date(@truck_accident.updated_at) %> By: <%= @truck_accident.user_id%></h2>

<%= render 'form', truck_accident: @truck_accident %>

<%= link_to 'Show', truck_truck_accident_path(@truck, @truck_accident), data:{confirm: 'Are you sure? Any changes will not be saved!'} %>
<%= link_to 'Back', truck_truck_accidents_path(@truck), data:{confirm: 'Are you sure? Any changes will not be saved!'} %>
